.ads-panel {
    position: fixed;
    top: 0;
    left: 86%;
    width: 14%;
    height: 100%;
    background-color: #85d4f2;
    padding: .25rem;
    box-sizing: border-box;
}
.ads-panel-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5em;
    background-color: #85d4f2;
    padding: .25rem;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 60%;
    width: 86%;
    padding-top: 3%;
    left: 0;
}
.container-mobile {
    height: 75%;
    width: 100%;
    padding-top: 3%;
    left: 20%;
}
.logo-panel {
    padding-top: 7em;
    height: 70%;
    width: 40%;    
}
.login-panel {
    height: 100%;
    width: 50%;
    padding-top: 1em;
    padding-left: .5em;
    padding-bottom: 1em;
    border-radius: 10px;
}
.logo-panel-mobile {
    padding-left: 1em;
    height: 15%;
    width: 100%;

}
.login-panel-mobile {
    height: 85%;
    width: 95%;
    padding-top: 1em;
    padding-left: .5em;
    padding-bottom: 1em;
    border-radius: 10px;
}
.login-panel img {
    width: auto;
    height: auto;
}
.center{min-height:100%;display: flex; align-items:center;justify-content:center;padding:24px}
.card{width:90%;background-color:#f6f7e7;padding:28px;border-radius:12px;box-shadow:0 6px 22px rgba(16,24,40,0.08)}
h1{margin:0 0 8px;font-size:1.1em; font-family:Arial, Helvetica, sans-serif;}
p.lead{margin:0 0 18px;color:var(--muted);font-size:.9em; font-family:Arial, Helvetica, sans-serif}
label{display:block;font-size:1em;margin-bottom:6px}
input[type=text],[type=password]{width:95%;padding:10px 12px;border:1px solid #e6e7eb;border-radius:8px;font-size:14px}
.row{display:flex;gap:12px;align-items:center}
.actions{margin-top:18px}
button[type=submit]{width:100%;padding:10px 12px;border-radius:8px;border:0;background-color:#dad9d5;color:#000000;font-weight:600;font-size:15px;cursor:pointer}
.note{margin-top:12px;font-size:13px;color:var(--muted);text-align:center}
.error {color: red}

.signup-div {
    display: flex;
    justify-content: space-between;
    padding-top: .5em;
}
.signup-div a {
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
}
.password-container {
  position: relative;
  display: inline;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: .2em;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}