      <div id="top-menu" class="dropdown-content-mobile">
        <p id="disp_name" class="disp-name" href="#"></p>
        <a href="#">Account Settings</a>
        <a href="#" onclick="signOut()">Logout</a>
      </div>


<div class="nav-bar-mobile" id="side-nav">
      <div class="navbar-item-container">
      <div><button class="nav-btn nav-home"></button></div>
      <div class="nav-bar-caption" id="home_btn">Home</div>
      </div>
      <div class="navbar-item-container">
      <div><button class="nav-btn nav-trending"></button></div>
      <div class="nav-bar-caption">Trending</div>
      </div>
      <div class="navbar-item-container">
      <div><button class="nav-btn nav-follows"></button></div>
      <div class="nav-bar-caption">Followings</div>
      </div>
      <div class="navbar-item-container">
      <div><button class="nav-btn nav-pub"></button></div>
      <div class="nav-bar-caption">My content</div>
      </div>
    </div>


<div class="top-panel-mobile">
<div class="share-panel"><div class="navbar-top-mobile"><button class="menu-btn nav-menu" id="menu-btn"></button></div><button class="publish-btn-mobile" onclick="goShare()">Share</button></div>    
<div class="title-bar">
    <div class="main-logo-mobile bg-img-setting"></div>
    <div id="profile"></div>
</div>

<div class="search-panel-mobile">
<div class="search-box-mobile">
    <input type="text" placeholder="Search..." />
    <button type="submit"></button>
</div>
<div class="voice-search"><button></button></div>
</div>
</div>

    <div id="doc-view-panel" class="docview-container-mobile"><!--<h2>This is the document viewer page</h2>-->
    <!--<iframe id="docViewer" class="doc-viewer" src="D:\i-Press\Node Backend\uploads\24ae41c098e0adf393693581a7b7984a.pdf" frameborder="0"></iframe>-->
    </div>
    <div class="reactions-panel-mobile">
      <div class="title-container">
      <span id="con_title" class="doc-title-mobile">9 Upwork proposal hooks</span>
      <span id="likes" class="reaction">24</span>
      <button id="like_btn" class="react-btn-mobile like-black" onmouseenter="highlightButton(this)" onmouseleave="normalizeButton(this)" onclick="handleLike()"></button>

      <span id="dislikes" class="reaction">3</span>
      <button id="dislike_btn" class="react-btn-mobile dislike-black" onmouseenter="highlightButton(this)" onmouseleave="normalizeButton(this)" onclick="handleDislike()"></button>

      </div>
      <p id="uploader" class="author-name">ahmadd42@gmail.com</p>
      <div class="comment-heading-mobile">
      <p id="com_heading" class="comment-heading-mobile">975 Comments</p>
      </div>
      <div id="comm_input" class="comment-input">
      </div>
            <div class="comt-container" id="cmt_container"></div>
      <div>

      </div> 
    </div>



<div class="ads-panel-mobile"></div>